[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pynvim = "*"
networkx = "*"
visual-genome = {editable = true,git = "https://github.com/ranjaykrishna/visual_genome_python_driver.git"}
matplotlib = "*"
tqdm = "*"
ujson = "*"
numpy = "*"
eden = {editable = true,git = "https://github.com/fabriziocosta/EDeN.git"}
pydot = "*"
pygraphviz = "*"
python-igraph = "*"
pillow = "*"

[requires]
python_version = "3.6"
